@import '~bootstrap/scss/bootstrap.scss';

* {
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Avenir';
  color: #2c3e50;
}

.card-width {
  width: 320px;
}

.app-container {
  margin-top: 5rem;
}

.fa {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.profile-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
